@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

.dark {
    --background: #0a0a0a;
    --foreground: #ededed;
}

@layer base {
    body {
        background: var(--background);
        color: var(--foreground);
        @apply transition-colors duration-500 font-sans antialiased;
    }
}